<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="aab49fb4-c72a-4d02-81b4-6d546fe45bef"
            Publisher="CN=Eirik Stien"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>InstmasWin8App</DisplayName>
    <PublisherDisplayName>Eirik Stien</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="InstmasWin8App.App">
        <VisualElements
            DisplayName="InstmasWin8App"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="InstmasWin8App"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>